<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DOM example using JavaScript</title>
  </head>
  <body>
    <div class="container">
      <h1>Functionalities to be covered:</h1>
      <hr />
      <ul>
        <li class="todo">Nodes Creation</li>
        <li class="todo">Nodes Removal</li>
        <li class="todo">Manipulating Styles</li>
      </ul>
 
      <input type="text" name="" class="form-control" id="userInput" />
      <br />
	  <br />
      <button
        class="btn btn-outline-secondary"
        style="width: 100%;"
        id="button"
      >
        Add New Functionality
      </button>
    </div>
  </body>
  <script src = "../src/empty.js">
  </script>
</html>